<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/dropdown.css">
    <link rel="stylesheet" href="../select2/css/select2.min.css">


    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <title>Vodovodi i kanalizacije</title>
</head>

<body>

    <div class="container">
        <div class="row header">
            <div class="col-md-3">
                <div class="index-link">
                    <a class=" none-decoration" href="/">ViK</a>
                </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-3 align-right">
                <div class="dropdown">
                    <a class="dropbtn none-decoration">Upravljanje sadržajem
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Mjerna područja</a>
                        <a href="#">Rezervoari</a>
                        <a href="#">Cijevi</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-1 vertical-navigation collapse navbar-collapse active" id="vertical-navigation">
                
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a data-toggle="pill" href="#mapa">Mapa vodovoda</a>
                    </li>
                    <li role="presentation">
                        <a data-toggle="pill" href="#vodostaj">Kontrola vodostaja</a>
                    </li>
                    <li role="presentation">
                        <a data-toggle="pill" href="#cijevi">Kontrola cijevi</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-10 tab-content">
                <div id="mapa" class="tab-pane fade in active">
                    <div class="map-filters">
                        <div class="row">
                            <div class="col-xs-4 map-filter">
                                <label for="pritisakslider">
                                    Pritisak u cijevi:
                                </label>
                                <span id="pritisakvalue"></span>
                                <input type="range" min="1" max="100" value="50" class="slider" id="pritisakslider">
                            </div>

                            <div class="col-xs-4 map-filter">
                                <label for="duzinaslider">
                                    Dužina cijevi:
                                </label>
                                <span id="duzinavalue"></span>
                                <input type="range" min="1" max="100" value="50" class="slider" id="duzinaslider">
                            </div>

                            <div class="col-xs-4 map-filter">
                                <label for="mjerno-select">
                                    Mjerno područje:
                                </label>
                                <select id="mjerno-select" name="state">
                                    <option value="0">Sve</option>
                                    <option value="1">Grbavica</option>
                                    ...
                                    <option value="2">Velešići</option>
                                </select>
                            </div>

                            </form>

                        </div>
                    </div>

                    <div class="map-container">
                    </div>
                </div>
                <div id="vodostaj" class="tab-pane fade">
                    vodostaj - work in progress
                </div>
                <div id="cijevi" class="tab-pane fade">
                    cijevi - work in progress
                </div>
            </div>

        </div>
        <div class="row footer">
            <div class="col-xs-3">
                <p>
                    SI Tim 3
                </p>
            </div>
        </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('#mjerno-select').select2();
        });
    });
</script>

<script src="../scripts/controls.js"></script>
<script src="../select2/js/select2.min.js"></script>

</html>